@import '../utils/variables';
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: $tertiary-color;
    color: white;
    font-size: 20px;
    height: 80px;
    .redirect{
        color: white;
    }
}

.none {
    display: none;
}

.logo-site {
    margin-left: 10px;
}

.account {
    width: 20%;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    margin-right: 10px;
    ul {
        display: flex;
        justify-content: space-between;

        .redirect{
            margin: 0 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .logo-site {
            width: 30%;
            height: 60px;
        }
        .account {
            width: 20%;
        }
        
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    header {
        
        .logo-site {
            width: 20%;
            height: 60px;
        }
        .account {
            width: 30%;
            font-size: 20px;
        }
    
    }
}

@media screen and (min-width: 1441px) {
    header {
        .logo-site {
            width: 20%;
            height: 80px;
        }
        .account {
            width: 10%;
        }
    }
}